<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="selfHostConfigRetriever" type="zapad.crm.WebHostCache.Helpers.ConfigRetrieverSection,zapad.crm.WebHostCache" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="zapad.crm.WebHostCache.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <selfHostConfigRetriever>
    <selfHostConfigs>
      <!-- write than ready -->
      <add name="url" value="http://+:9094" />
      <add name="domain" value="localhost" />
      <add name="authentication" value="" />
      <!-- yes or empty -->
      <add name="logInterval" value="1000000" />
      <add name="sessionInterval" value="100000" />
      <add name="dateOfOutdateCookies" value="1500" />
      <add name="dateOfOutdateSessions" value="1500" />
      <add name="sizeQueueOfLastQueries" value="3" />
    </selfHostConfigs>
  </selfHostConfigRetriever>
  <connectionStrings>
    <add name="LocalDBConnectionString" connectionString="" />
  </connectionStrings>
  <applicationSettings>
    <zapad.crm.WebHostCache.Properties.Settings>
      <setting name="WebApiSyncUrls" serializeAs="Xml">
        <value>
          <ChannelsList>
            <channel priority="1" bandwith="2">http://localhost:9095</channel>
          </ChannelsList>
        </value>
      </setting>
    </zapad.crm.WebHostCache.Properties.Settings>
  </applicationSettings>
</configuration>
